.ct-series-a .ct-bar {
  stroke: #5e0000;
  stroke-width: 25px;

}
.ct-series-b .ct-bar {
  stroke: #ce4a02;
  stroke-width: 25px;
}

.ct-series-c .ct-bar{
  stroke: #0ae807;
  stroke-width: 25px;
}
.temp-box{
  width: 25px;

}
.temp{
  display: inline-flex;
}
.max{
background-color: #11d000;

}
.min{
  background-color: #0cf900;
}

.viento{
  background-color: #b6b605;
}
.subt{
  display: block;
  color: #0909b8;

  font-size: large;
}
.centro{
  text-align: center;
}
.ct-series-a .ct-bar {
  stroke: #ff0000;
  stroke-width: 25px;

}
.ct-series-b .ct-bar {
  stroke: #0000ff;
  stroke-width: 25px;
}

.ct-series-c .ct-bar{
  stroke: #77ff41;
  stroke-width: 25px;
}
.temp-box{
  width: 50px;

}
.temp{
  display: inline-flex;
}
.max{
background-color: #ff0000;

}
.min{
  background-color: #0000ff;
}

.viento{
  background-color: #77ff41;
}
.subt{
  display: block;
  color: #0000ff;

  font-size: large;
}
.centro{
  text-align: center;
}